html, body { 
  padding: 0px; margin: 0px; background-color: #f7f7f7;
}

.app {
  width: 400px;
  overflow-x: hidden;
  margin: auto auto;
}

.websites-container {
  height: 200px;
  /* overflow-y: scroll; */
}